name: Building Docker Image

on:
  workflow_call:
    secrets:
      CONNECTORS_KEY:
        required: false

    inputs:
      docker_file_path:
        description: 'Path to the Dockerfile'
        required: true
        type: string
      image_name:
        description: 'Name of the Docker image'
        required: true
        type: string
      versionament:
        description: 'Versionament parameters'
        required: true
        type: string
      runner_name:
        required: true
        type: string
      runner_category:
        required: true
        type: string
      aws_region:
        required: false
        type: string
        default: 'us-east-1'
      aws_environment:
        description: 'Environment for the workflow'
        required: false
        type: string
        default: 's4s'
      docker_args:
        description: 'Additional Docker build arguments separated by double || (e.g., ARG1=value1||ARG2=value2)'
        required: false
        type: string
        default: ''

jobs:

  building:
    name: Building
    environment: ${{ github.ref_name }}
#    runs-on: ubuntu-latest
    runs-on: ['${{ inputs.runner_name }}', '${{ inputs.runner_category }}', "self-hosted", "linux", "x64", "amazon"]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate on AWS
      uses: tecmise/actions/.github/actions/aws-authenticate@main
      with:
        category: ${{ inputs.aws_environment }}
        aws_accounts: ${{ vars.AWS_ACCOUNTS }}
        aws_region: ${{ inputs.aws_region }}

    - name: Montar argumentos para o build
      id: prepare-args
      run: |
        ARGS=""
        if [ -n "${{ secrets.CONNECTORS_KEY }}" ]; then
          ARGS="--build-arg TOKEN=${{ secrets.CONNECTORS_KEY }}"
        fi
        if [ -n "${{ inputs.docker_args }}" ]; then
          INPUT_ARGS=$(echo "${{ inputs.docker_args }}" | sed 's/||/ --build-arg /g' | sed 's/^/--build-arg /')
          ARGS="$ARGS $INPUT_ARGS"
        fi
        echo "args=$ARGS" >> "$GITHUB_ENV"

    - name: Printar argumentos
      run: |
        echo "Argumentos para o build: ${{ env.args }}"
      env:
        args: ${{ env.args }}

    - name: Docker Build
      run: |
        docker build -t ${{ inputs.image_name }}:${{ inputs.versionament }} -f ${{ inputs.docker_file_path }} . --network=host ${{ env.args }}
      env:
        args: ${{ env.args }}
    - name: Tag da imagem
      run: |
        docker tag ${{ inputs.image_name }}:${{ inputs.versionament }} ${{ fromJson(vars.AWS_ACCOUNTS).s4s[github.ref_name] }}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.image_name }}:${{ inputs.versionament }}

    - name: Verificar e deletar tag existente no ECR
      run: |
        IMAGE_TAG=${{ inputs.versionament }}
        REPOSITORY_URI=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${{ inputs.image_name }}
        EXISTING_TAG=$(aws ecr list-images --repository-name ${{ inputs.image_name }} --query "imageIds[?imageTag=='${IMAGE_TAG}'].imageTag" --output text --region ${AWS_REGION})
        if [ "${EXISTING_TAG}" == "${IMAGE_TAG}" ]; then
          aws ecr batch-delete-image --repository-name ${{ inputs.image_name }} --image-ids imageTag=${IMAGE_TAG} --region ${AWS_REGION}
        fi
      env:
        AWS_ACCOUNT_ID: ${{ fromJson(vars.AWS_ACCOUNTS).s4s[github.ref_name] }}
        AWS_REGION: "us-east-1"


    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Push para o Amazon ECR
      run: |
        docker push $REGISTRY/${{ inputs.image_name }}:${{ inputs.versionament }}
      env:
        AWS_ACCOUNT_ID: ${{ fromJson(vars.AWS_ACCOUNTS).s4s[github.ref_name] }}
        AWS_REGION: "us-east-1"
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}