
name: Terraform Apply Api Gateway

on:
  workflow_call:
    secrets:
      ROOT_RESOURCE_ID:
        required: true
      REST_API_ID:
        required: true
      INVOKE_URI:
        required: true
      AUTHORIZER_ID:
        required: true
      CORS_ORIGIN_DOMAIN:
        required: true
    inputs:
      bucket_name:
        description: "'S3 Bucket name for Terraform state'"
        required: true
        type: string
      routes_file:
        required: true
        type: string
      aws_environment:
        description: 'Environment for the workflow'
        required: false
        type: string
        default: 's4s'
      aws_region:
        required: false
        type: string
        default: 'us-east-1'


      port:
        type: number
        required: false
        default: 0
      protocol:
        type: string
        required: false
        default: 'HTTP'
      vpc_id:
        type: string
        required: false
        default: ''

      health_check_protocol:
        type: string
        required: false
        default: "HTTP"
      health_check_port:
        type: number
        required: false
        default: 0
      health_check_interval:
        type: number
        required: false
        default: 30
      health_check_timeout:
        type: number
        required: false
        default: 5
      health_check_healthy_threshold:
        type: number
        required: false
        default: 2
      health_check_unhealthy_threshold:
        required: false
        type: number
        default: 2
      health_check_path:
        required: false
        type: string
        default: "/health"
      health_check_matcher:
        default: "200"
        type: string
        required: false

      artifact_name:
        required: false
        type: string
        default: 'api-gateway-files'

      vpc_link_id:
        type: string
        required: false
        default: ''


jobs:
  generate-files:
    name: Generate Files for API Gateway
    environment: ${{ github.ref_name }}
    runs-on: ['infrastructure', 's4s', "self-hosted", "linux", "x64", "amazon"]
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create files
      env:
        REF_NAME: ${{ github.ref_name }}
      uses: tecmise/actions/.github/actions/generate-terraform-api-gateway@main
      with:
        routes_file: ${{ inputs.routes_file }}
        bucket_name: ${{ inputs.bucket_name }}
        port: ${{ inputs.port }}
        protocol: "${{ inputs.protocol }}"
        vpc_id: "${{ inputs.vpc_id }}"
        health_check_protocol: "${{ inputs.health_check_protocol }}"
        health_check_port: ${{ inputs.health_check_port }}
        health_check_path: "${{ inputs.health_check_path }}"
        key_name: '${{ inputs.artifact_name }}'
        terraform_bucket: ${{ inputs.bucket_name }}
        vpc_link_id: ${{ inputs.vpc_link_id }}

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact_name }}
        path: ${{ github.run_number }}

  exposing-routes-plan:
    name: Terraform Plan for API Gateway
    environment: ${{ github.ref_name }}
    env:
      TF_VAR_root_resource_id: ${{ secrets.ROOT_RESOURCE_ID }}
      TF_VAR_rest_api_id: ${{ secrets.REST_API_ID }}
      TF_VAR_invoke_uri: ${{ secrets.INVOKE_URI }}
      TF_VAR_authorizer_id: ${{ secrets.AUTHORIZER_ID }}
      TF_VAR_cors_origin_domain: ${{ secrets.CORS_ORIGIN_DOMAIN }}
      TF_VAR_application_name: ${{ github.event.repository.name }}
      TF_VAR_terraform_bucket: ${{ inputs.bucket_name }}
    needs:
      - generate-files
    runs-on: ['infrastructure', 's4s', "self-hosted", "linux", "x64", "amazon"]
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.artifact_name }}

    - name: Show files
      run: |
        ls -ltra 

    - uses: actions/setup-node@v4
      with:
        node-version: '20'

    - uses: hashicorp/setup-terraform@v3

    - name: Authenticate on AWS
      uses: tecmise/actions/.github/actions/aws-authenticate@v6.2.5
      with:
        category: ${{ inputs.aws_environment }}
        aws_accounts: ${{ vars.AWS_ACCOUNTS }}
        aws_region: ${{ inputs.aws_region }}

    - name: Prepare Terraform plugin cache dir
      run: mkdir -p ~/.terraform.d/plugin-cache
      shell: bash

    - name: Terraform Init
      shell: bash
      run: terraform init

    - name: Terraform Plan
      shell: bash
      run: terraform plan


  exposing-routes-apply:
    name: Terraform Apply for API Gateway
    environment: ${{ github.ref_name }}
    env:
      TF_VAR_root_resource_id: ${{ secrets.ROOT_RESOURCE_ID }}
      TF_VAR_rest_api_id: ${{ secrets.REST_API_ID }}
      TF_VAR_invoke_uri: ${{ secrets.INVOKE_URI }}
      TF_VAR_authorizer_id: ${{ secrets.AUTHORIZER_ID }}
      TF_VAR_cors_origin_domain: ${{ secrets.CORS_ORIGIN_DOMAIN }}
      TF_VAR_application_name: ${{ github.event.repository.name }}
      TF_VAR_terraform_bucket: ${{ inputs.bucket_name }}
    needs:
      - generate-files
      - exposing-routes-plan
    runs-on: ['infrastructure', 's4s', "self-hosted", "linux", "x64", "amazon"]
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.artifact_name }}

    - name: Show files
      run: |
        ls -ltra 

    - uses: actions/setup-node@v4
      with:
        node-version: '20'

    - uses: hashicorp/setup-terraform@v3

    - name: Authenticate on AWS
      uses: tecmise/actions/.github/actions/aws-authenticate@v6.2.5
      with:
        category: ${{ inputs.aws_environment }}
        aws_accounts: ${{ vars.AWS_ACCOUNTS }}
        aws_region: ${{ inputs.aws_region }}

    - name: Prepare Terraform plugin cache dir
      run: mkdir -p ~/.terraform.d/plugin-cache
      shell: bash

    - name: Cache Terraform providers & modules
      uses: actions/cache@v4
      with:
        path: |
          ~/.terraform.d/plugin-cache
          terraform/.terraform
        key: ${{ runner.os }}-terraform-${{ github.event.repository.name }}-${{ hashFiles('terraform.lock.hcl') }}
        restore-keys: |
          ${{ runner.os }}-terraform-

    - name: Terraform Init
      shell: bash

      run: terraform init

    - name: Terraform Destroy
      shell: bash
      run: terraform destroy -auto-approve


    - name: Terraform Apply
      shell: bash
      run: terraform apply -auto-approve
